.root
{
	-fx-background-color: #e6e6e6, linear-gradient(#ffffff, #cccccc);
}

.button
{
	-fx-font-size: 12;
	-fx-font-family: georgia;
	-fx-min-height: 26px;
	-fx-background-color: #c2d6d6, linear-gradient(#f0f0f5, #a3a3c2);
	-fx-background-radius: 2px;
	-fx-border: 1px;
	-fx-border-color: #a3a3c2;
}

.button:hover
{
	-fx-background-color: #9494B8;
}

.button:pressed
{
    -fx-background-color: #e0e0eb;
}

.context-menu
{
    -fx-background-color: #c2d6d6, linear-gradient(#f0f0f5, #a3a3c2);
    -fx-border: 2px;
    -fx-border-color: #29293d;
}

.menuBar
{
    -fx-background-color: #c2d6d6, linear-gradient(#ffffff, #c2c2d6);
}

.menu
{
    -fx-font-family: georgia;
    -fx-font-size: 11.5;
}

.menu:hover, .menu:showing, .menu-item:hover, .menu-item:focused
{
    -fx-background-color: #9494B8;
}

#standardTextField
{
	-fx-font-size: 25px;
}

#menuInStandard
{
    width: 300px;
}

.title
{
    -fx-background-color: #C2C2D6;
    -fx-font-size: 15px;
    -fx-font-family: georgia;
    -fx-font-weight: normal;
}

.textField
{
    -fx-background-color: #FFFFFF, linear-gradient(#ffffff, #d1d1e0);
    -fx-border: 2px;
    -fx-border-width: 1;
    -fx-border-color: #333333;
    -fx-display-caret: false;
}

.combo-box
{
    -fx-background-color: #9494B8;
    -fx-border: 2px;
    -fx-border-color: #333333;
}

.combo-box .list-cell
{
        -fx-background-color: #d1d1e0;
}

.combo-box-popup .list-view .list-cell:hover
{
    -fx-background-color: #9494B8;
}